<div class="col-md-8" align="center">
  <div class="jumbotron">
    <h2>Hire a Robot in 4,378 easy steps</h2>
    <div class="well">
      <a href="/robots">
        <button type="button" class="btn btn-warning">
          <span class="glyphicon glyphicon-list"></span> Robot Directory
        </button>
      </a>
      |
      <a href="/robots/new">
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-star"></span> New Robot
        </button>
      </a>
    </div>

    <h4>Average Age of robots on Robot World: 29</h4>

      <!-- <% @robots.each do |robot| %>
      <%= robot.birthdate %>
      <% end %> -->
    <h4>There are currently <strong><u><%= robot_world.all.count %></u></strong> robots in Robot World.</h4>
    </div>
  </div>
